<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Challenge 2 Adaptive Form</title>
    <!-- Bootstrap css CDN -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
      <link rel="stylesheet" href="./stylesheets/normalize.css">
      <link rel="stylesheet" href="./stylesheets/form.css">
    </head>
    <body onload="recoverInputs(document.forms.prenuvo-form,retrieveCookie('inpVal'),true);">
      <div class="container" >
        <div class="jumbotron"><h2 class="text-center">Form Challenge</h2></div>
        <div class="clearfix"></div>
        <div class="border">
          <form action="/form" method="POST" name="penuvo-form" id="prenuvo-form">
            <p id="top-heading"><strong>This section asks about any symptoms you have been experiencing lately</strong></p>
            <hr>
            <div class="container">
              <h6><strong>A note about the symptoms you are or have recently been feeling *</strong></h6>
              <p>
                A Preuvo scan is a screen for cancer and many major diseases.<br><br>
                The symptoms that you are feeling now or recently are important context for our review of the images that we acquire of your body.<br><br>
                However, if you are feeling acute symptoms, it is important that you visit your family doctor to determine what is the best diagnostic approach that you
                should follow. A Prenuvo scan can diagnose many conditions, can provide additional insight to a diagnosis but it is not always the most diagnostically
                relevant approach for any one particular condition.
              </p>
              <div class="form-check form-check-inline border rounded checkboxes-padding">
                <input class="form-check-input" type="checkbox" value="understand" id="understand" required>
                <label class="form-check-label" for="understand">
                  I understand this
                </label>
              </div>
            </div>
            <hr>
            <div class="container">
              <h4 class="heading4">General Symptoms</h4>
              <div class="form-group below-heading">
                <label for="general-symptoms"><small><strong>Check any of the following symptoms that you are or have recently experienced</strong></small></label><br>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="weight-gain" id="weight-gain">
                  <label class="form-check-label" for="weight-gain">
                    Recent weight gain
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="weight-loss" id="weight-loss">
                  <label class="form-check-label" for="weight-loss">
                    Recent weight loss
                  </label>
                </div>
              </div>
            
            <hr>

              <h4 class="heading4">Head Symptoms</h4>
              <div class="form-group below-heading">
                <label for="head-symptoms"><small><strong>Check any of the following symptoms that you are or have recently experienced</strong></small></label><br>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="headaches" id="headaches">
                  <label class="form-check-label" for="headaches" >
                    Frequent headaches
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="migrain" id="migrain">
                  <label class="form-check-label" for="migrain">
                    Frequent migrain
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="head-injuries" id="head-injuries">
                  <label class="form-check-label" for="head-injuries">
                    Head injuries or concussion
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" >
                  <label class="form-check-label" >
                    Eye pain
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="earache" name="earache" >
                  <label class="form-check-label" for="earache">
                    Earache or ear damage
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="ringing-ears" name="ringing-ears">
                  <label class="form-check-label" for="ringing-ears">
                    Ringing in the ears
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="hearing-loss" name="hearing-loss">
                  <label class="form-check-label" for="hearing-loss">
                    Hearing loss
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="cold" name="cold">
                  <label class="form-check-label" for="cold">
                    Frequent colds
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="hayfever" name="hayfever">
                  <label class="form-check-label" for="hayfever">
                    Frequent hayfever
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="sinus-pain" name="sinus-pain">
                  <label class="form-check-label" for="sinus-pain">
                    Sinus pain
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="blurred-vision" name="blurred-vision">
                  <label class="form-check-label" for="blurred-vision">
                    Blurred vision
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Double vision
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    See halos around eyes
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Loss of sense of smell
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Sores in mouth
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Painful or bleeding gums
                    </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Speech difficulties
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Frequent nosebleeds
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Numbness on one side of the face
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Pain in the jaw
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Trouble with balance
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Seizures
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Personality change
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Memory change
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Memory loss
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Problem sleeping
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Changes in ability to walk or perform activities
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Pressure in the head
                  </label>
                </div>
              </div>
              <div class="container collapse" id="headache-collapse">
                <h4 class="heading4 below-heading">Tell us more about your headaches</h4>
                <div class="form-row">
                  <div class="form-group below-heading col">
                    <label for="general-symptoms"><small><strong>What are the most frequent location(s) of your headaches?*</strong></small></label><br>
                    <div class="form-check form-check-inline border rounded checkboxes-padding">
                      <input class="form-check-input" type="checkbox" name="require-one" value="" id="" checked>
                      <label class="form-check-label" for="">
                        Front
                      </label>
                    </div>
                    <div class="form-check form-check-inline border rounded checkboxes-padding">
                      <input class="form-check-input" type="checkbox" name="require-one" value="" id="">
                      <label class="form-check-label" for="">
                        Back
                      </label>
                    </div>
                    <div class="form-check form-check-inline border rounded checkboxes-padding">
                      <input class="form-check-input" type="checkbox" name="require-one" value="" id="">
                      <label class="form-check-label" for="">
                        Left side
                      </label>
                    </div>
                    <div class="form-check form-check-inline border rounded checkboxes-padding">
                      <input class="form-check-input" type="checkbox" name="require-one" value="" id="">
                      <label class="form-check-label" for="">
                        Right side
                      </label>
                    </div>
                  </div>
                  <div class="form-froup below-heading col">
                    <label for="general-symptoms"><small><strong>What is the frequency of your headaches?*</strong></small></label><br>
                    <div class="form-check form-check-inline border rounded checkboxes-padding">
                      <input class="form-check-input" type="radio" value="" id="" name="require-one-radio">
                      <label class="form-check-label" for="">
                        Daily
                      </label>
                    </div>
                    <div class="form-check form-check-inline border rounded checkboxes-padding">
                      <input class="form-check-input" type="radio" value="" id="" name="require-one-radio" >
                      <label class="form-check-label" for="">
                        2-3 times/week
                      </label>
                    </div>
                    <div class="form-check form-check-inline border rounded checkboxes-padding">
                      <input class="form-check-input" type="radio" value="" id="" name="require-one-radio">
                      <label class="form-check-label" for="">
                        Weekly
                      </label>
                    </div>
                    <div class="form-check form-check-inline border rounded checkboxes-padding">
                      <input class="form-check-input" type="radio" value="" id="" name="require-one-radio">
                      <label class="form-check-label" for="">
                        Less frequent
                      </label>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <!-- end of container general symptoms -->
            

            <div class="container">
              <h4 class="heading4">Throat, Neck and Esophegal Symptoms</h4>
              <div class="form-group below-heading">
                <label for="general-symptoms"><small><strong>Check any of the following symptoms that you are or have recently experienced</strong></small></label><br>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Frequent heartburn or acid reflux
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Chest pain that is worse with eating
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Nausea
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Frequent vomiting
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Frequent choking on food
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Lumps or Swelling in Neck
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Lumps or Swelling under the Jaw (Glands)
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Stiff, Painful Neck
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Frequent Sore Throats
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Difficulty in Swallowing
                  </label>
                </div>
              </div>
              <hr>
            </div> <!-- end of container throat neck symptoms -->
            
            <div class="container">
              <h4 class="heading4">Respiratory Symptoms</h4>
              <div class="form-group below-heading">
                <label for="general-symptoms"><small><strong>Check any of the following symptoms that you are or have recently experienced</strong></small></label><br>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Coughing up Sputum
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Wheezing or Asthma
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Feeling of breathlessness
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Chest pain when coughing
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Chest pain when breathing
                  </label>
                </div>
              </div>
              <hr>
            </div> <!-- end of container respiratory symptoms -->            

            <div class="container">
              <h4 class="heading4">Cardiovascular Symptoms</h4>
              <div class="form-group below-heading">
                <label for="general-symptoms"><small><strong>Check any of the following symptoms that you are or have recently experienced</strong></small></label><br>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox">
                  <label class="form-check-label">
                    Rapid heartbeat
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" >
                    Irregular heartbeat (palpitations)
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="" checked>
                  <label class="form-check-label" >
                    Shortness of breath without exercise
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" >
                    Shortness of breath with exercise
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" >
                    Shortness of breath on lying flat in bed
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" >
                    Pale skin
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" >
                    High blood pressure
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" >
                    Chest discomfort
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" >
                    Heart murmur
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="" checked>
                  <label class="form-check-label" >
                    High cholesterol
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" >
                    Frequent fainting or blackouts
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" >
                    Unexplained weakness
                  </label>
                </div>
              </div>
              <hr>
            </div> <!-- end of container cardiovascular symptoms -->

            <div class="container">
              <h4 class="heading4">Abdominal Symptoms</h4>
              <div class="form-group below-heading">
                <label for="general-symptoms"><small><strong>Check any of the following symptoms that you are or have recently experienced</strong></small></label><br>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Belching
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="" checked>
                  <label class="form-check-label" for="">
                    Nausea or vomiting
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Vomiting blood
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Frequent Diarrhea
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Painful bowel movements
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Black bowel movements
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Abdominal pain after eating
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Abdominal pain unrelated to eating
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Elevated blood sugar
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Jaundice (yellow skin)
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Unusual thirst
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Passing blood rectally
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Feeling of breathlessness
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                      Constipation
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Blood in urine
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Difficulty starting and maintaining a steady stream of urine
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Excessive urination during night
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Excessive urination during day
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Loss of bladder control
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Cloudy urine
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Passing stones in urine
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Repeated urinary tract infections
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Flank pain (pain that runs from ribs to hips on one side)
                  </label>
                </div>                
              </div>
              <hr>
            </div> <!-- end of container abdominal symptoms --> 

            <div class="container">
              <h4 class="heading4">Gender Specific Symptoms</h4>
              <div class="form-group below-heading">
                <label for="general-symptoms"><small><strong>For women only, check any of the following symptoms that you are or have recently experienced</strong></small></label><br>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Bleeding between periods
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Vaginal bleeding since menopause
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Lumps in breast
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Bloated or irritable before periods
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Vaginal discharge
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Vaginal itching
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Painful periods
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Pain with intercourse
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Scant periods
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Lactation unrelated to pregnancy
                  </label>
                </div>
              </div>
              <div class="form-group below-heading">
                <label for="general-symptoms"><small><strong>For men only, check any of the following symptoms that you are or have recently experienced</strong></small></label><br>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    High prostate PSA
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Discharge from penis
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Any swelling or bumps in testicles
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Pain in testicles
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Breast growth
                  </label>
                </div>
              </div>
              <hr>
            </div> <!-- end of container gender symptoms -->

            <div class="container">
              <h4 class="heading4">Muscle, Joints and Bones</h4>
              <div class="form-group below-heading">
                <label for="general-symptoms"><small><strong>Check any of the following symptoms that you are or have recently experienced</strong></small></label><br>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Back pain/ache
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Joint pain
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Joint swelling
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Numbness
                  </label>
                </div>                
              </div>
              <hr>
            </div> <!-- end of container muscle joints symptoms --> 

            <div class="container">
              <h4 class="heading4">Symptoms in the extremeties</h4>
              <div class="form-group below-heading">
                <label for="general-symptoms"><small><strong>Check any of the following symptoms that you are or have recently experienced</strong></small></label><br>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Tingling in hands or feet
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="shakingHand" id="shakingHand">
                  <label class="form-check-label" for="shakingHand">
                    Shaking in hands or feet
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Pain in calves or thighs when walking
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Swelling in hands or feet
                  </label>
                </div>
                <div class="form-check form-check-inline border rounded checkboxes-padding">
                  <input class="form-check-input" type="checkbox" value="" id="">
                  <label class="form-check-label" for="">
                    Skin turning blue in fingers or toes
                  </label>
                </div>

                <div class="container collapse" id="shaking-hand" >
                  <h4 class="heading4 below-heading">Tell us more about the shaking in your hands of feet</h4>
                  <div class="form-row">
                    <div class="form-group below-heading col-6">
                      <label for="general-symptoms"><small><strong>Where have you been experiencing the shaking(tick one or all that apply)?*</strong></small></label><br>
                      <div class="form-check form-check-inline border rounded checkboxes-padding">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                          Left hand
                        </label>
                      </div>
                      <div class="form-check form-check-inline border rounded checkboxes-padding">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                          Right hand
                        </label>
                      </div>
                      <div class="form-check form-check-inline border rounded checkboxes-padding">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                          Left foot
                        </label>
                      </div>
                      <div class="form-check form-check-inline border rounded checkboxes-padding">
                        <input class="form-check-input" type="checkbox" value="" id="">
                        <label class="form-check-label" for="">
                          Right foot
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
            </div> <!-- end of container extemeties symptoms last one --> 

            <div class="d-flex flex-row-reverse">
              <button type="submit" class="btn btn-light btn-lg finish-button" name="finish" value="finish">Finish</button>
              <input type="button" class="btn btn-light btn-lg save-button" value="Save" onclick="setCookie('inpVal',getFormString(this.form,true));"></input>    
            </div>
            
          </form>
                    
        </div>
      </div>


    <!-- bootstrap scripts CDN -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="/scripts/app.js"></script>     
    </body>
    </html>>