<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Challenge 1 Grid</title>
<!-- Bootstrap css CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="./stylesheets/normalize.css">
  <link rel="stylesheet" href="./stylesheets/grid.css">
</head>
<body>
  <div class="container" >
    <div class="jumbotron"><h2 class="text-center">Grid Challenge</h2></div>
    <div class="clearfix"></div>
    <div class="border main-grid">      
        <div class="grid-column">
          <img src="/gifs/bw-gif12.gif">
          <img src="/gifs/bw-gif1.gif">
          <img src="/gifs/bw-gif2.gif"> 
          <img src="/gifs/bw-gif.gif">         
        </div>
        <div class="grid-column">
          <img src="/gifs/bw-gif3.gif">
          <img src="/gifs/bw-gif4.gif">
          <img src="/gifs/bw-gif5.gif">
          <img src="/gifs/bw-gif13.gif">
        </div>
        <div class="grid-column">
          <img src="/gifs/bw-gif6.gif">
          <img src="/gifs/bw-gif7.gif">
          <img src="/gifs/bw-gif8.gif">
          <img src="/gifs/bw-gif14.gif">
        </div> 
        <div class="grid-column">
          <img src="/gifs/bw-gif9.gif">
          <img src="/gifs/bw-gif10.gif">
          <img src="/gifs/bw-gif11.gif">
          <img src="/gifs/bw-gif15.gif">
        </div>      
      </div>    
    </div>    
  </div>

<!-- bootstrap scripts CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</body>
</html>