<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Prenuvo Challenge</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
    .btn {
      margin: 20px;
      padding: 5px;
      text-decoration: none;
    }
    .main {
      margin-top: 30vh;
    }
    .btn > a {
      text-decoration: none;
      font-size: 1.3em;
      font-weight: bolder;
    }
  </style>
  
</head>
<body>
  <div class="container d-flex justify-content-center align-items-center main">    
    <button type="button" class="btn btn-success" name="gridChallenge" value="gridChallenge"><a href="http://localhost:8080/grid" style="color:aliceblue" >GRID CHALLENGE</a></button>
    <button type="button" class="btn btn-success" name="formChallenge" value="formChallenge"><a href="http://localhost:8080/form" style="color:aliceblue" >FORM CHALLENGE</a></button>   
  </div>  
</body>
</html>







