.checkboxes-padding {
  padding: 10px;
  margin-bottom: 5px;
}

.below-heading {
  margin: 20px;
}

.finish-button {
  margin: 0 100px;
}

#top-heading {
  font-size: 1.8em;
  padding: 10px 5px;
}

.text-center {
  font-variant-caps: small-caps;
}